<%= form_with model: post do |f| %>
<div class="post_form">
  <i class="fas fa-camera"></i> <%= f.label :image,"画像を選択する" %><br>
  <div class="form-group">
  <%= f.file_field :image %>
  </div>
  <div id="new-image"></div>
  <i class="fas fa-tag"></i> <%= f.label :title,"タイトル" %><br>
  <%= f.text_field :title, placeholder: "タイトルを入力" %><br>
  <i class="far fa-file-alt"></i> <%= f.label :content,"本文 (#をつけるとタグになります）" %><br>
  <%= f.text_area :content, placeholder: "本文を入力 \r\n#タグ",:size=>"35x5" %><br>
  <i class="fas fa-store"></i> <%= f.label :shop_name,"カフェ名" %><br>
  <%= f.text_field :shop_name, placeholder: "カフェ名を入力" %><br>
</div>
<div class="post_form">
<h5><i class="fas fa-store"></i> 店舗情報</h5>

  <i class="fas fa-map-marker-alt"></i> <%= f.label :shop_place,"アクセス" %><br>
  <%= f.text_field :shop_place,placeholder: "最寄駅から徒歩何分など" %><br>

  <i class="fas fa-store-slash"></i> <%= f.label :shop_holiday,"定休日" %><br>
  <%= f.text_field :shop_holiday,placeholder: "不定休・無休・月火水木金土日"%><br>

  <i class="fas fa-yen-sign"></i> <%= f.label :shop_price,"平均予算" %><br>
  <%= f.collection_radio_buttons :shop_price,Post.shop_prices_i18n, :first,:last%><br>

  <div class='form-group'>
    <i class="far fa-star"></i> <%= f.label :shop_tag_ids,'こだわり（当てはまるものにチェック)' %><br>
    <%= f.collection_check_boxes(:shop_tag_ids, ShopTag.all, :id, :name) do |tag| %>
    <div class='form-check'>
      <%= tag.label class: 'form-check-label' do %>
      <%= tag.check_box class: 'form-check-input' %>
      <%= tag.text %>
      <% end %>
    </div>
      <% end %>
  </div>
    <%= f.hidden_field :lat,:value =>"緯度", id: :lat %>
    <%= f.hidden_field :lng,:value =>"経度", id: :lng %>
    <!--新規投稿のみ投稿フォームから地図登録できる-->
    <h5 class="mt-4"><i class="fas fa-map-marked-alt"></i> 地図登録</h5>
    <div class="my-3">
      最寄り駅・店名・住所などで検索<br />
      <i class="fas fa-map-marker-alt"></i> ピンを移動させ位置の調整ができます。
    </div>
    <div class="m-2 mb-3">
      <div>最寄駅・住所・店名などで検索する</div>
      <input id="address" type="textbox"  placeholder="(例) 東京駅" class="search-form-group">
      <input type="button" value="検索" onclick="codeAddress()" class="btn btn-outline-secondary">
    </div>
    <div id='map'></div>

    <!--表示するマップのサイズ-->
    <style>
      #map {
        height: 400px;
        width: 100%;
      }
    </style>
    <script>

      //初期マップの設定
      let map
      let marker
      function initMap(){
        geocoder = new google.maps.Geocoder()

        map = new google.maps.Map(document.getElementById('map'), {
          center:  {lat: 35.6803997, lng:139.7690174},  //東京
          zoom: 15,
        });
      }

      //検索後のマップ作成
      let geocoder
      let aft
      function codeAddress(){
        let inputAddress = document.getElementById('address').value;
        geocoder.geocode( { 'address': inputAddress}, function(results, status) {
          if (status == 'OK') {
            //マーカーが複数できないようにする
            if (aft == true){
                marker.setMap(null);
            }

            //新しくマーカーを作成する
            map.setCenter(results[0].geometry.location);
                marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location,
                draggable: true // ドラッグ可能にする
            });

            //二度目以降か判断
            aft = true

            //検索した時に緯度経度を入力する
            document.getElementById('lat').value = results[0].geometry.location.lat();
            document.getElementById('lng').value = results[0].geometry.location.lng();

            // マーカーのドロップ（ドラッグ終了）時のイベント
            google.maps.event.addListener( marker, 'dragend', function(ev){
                // イベントの引数evの、プロパティ.latLngが緯度経度
                document.getElementById('lat').value = ev.latLng.lat();
                document.getElementById('lng').value = ev.latLng.lng();
              });
          } else {
            alert('該当する結果がありません。');
          }
        });
      }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
    <br />
  <div class="form-group">
    <i class="fas fa-pencil-alt"></i> <%= f.label :is_draft,"下書き/投稿" %><br>
    <%= f.select :is_draft, Post.is_drafts.keys.map { |k| [t("enums.post.is_draft.#{k}"),k]}, {}, {class: "custom-select w-50"} %>
  </div><br>
  <div>
  <%= f.submit submit, class: "btn btn-success w-50" %>
  <% if @post.user == current_user %>
    <%= link_to '削除', post, method: :delete, data: {confirm: "投稿を削除します。よろしいですか？"},class: 'btn btn-danger w-25'%>
  <% end %>
<% end %>
  </div>
</div>