<div class="col-lg-6 mt-4">
  <div class="post_show">
  <h5><strong><%= post.title %></strong></h5>
  <p><%= render_with_tags(post.content) %></p>

  <table class="table">
    <tr>
      <th>店名</th>
      <td><%= @post.shop_name %></td>
    </tr>
    <tr>
      <th>アクセス</th>
        <td><%= post.shop_place %></td>
    </tr>
    <tr>
      <th>平均予算</th>
      <td><%= post.shop_price%>　円</td>
    </tr>
    <tr>
      <th>定休日</th>
      <td><%= post.shop_holiday %></td>
    </tr>
    <tr id="post_<%= post.id %>"> <!--いいね機能-->
      <th></th>
        <td class="like-btn"><%= render 'public/likes/btn', post: post %></td>
        <td></td>
    </tr>
    <tr><th>こだわり</th>
      <% unless post.shop_tags.present? %>
      <% else %>
      <td>
      <% post.shop_tags.each do |tag| %>
       <span class="text-secondary">
       <%= link_to  "/post/shop_tag/#{tag.name}", class: "btn btn-outline-secondary m-2" do %>
         <%= tag.name %>
       <% end %>
       </span>
      <% end %>
      </td></tr>
      <% end %>
  </table>
  <h5><i class="fas fa-map-marker-alt"></i> 地図情報</h5>
    <% if post.lat == 0.0 && post.lng == 0.0 || post.lat == nil && post.lng == nil %>
    <p>※現在、地図情報は登録されていません。</p>
    <% end %>
   <div id='map'></div>

  <style>
  #map {
    height: 200px;
    width: 100%;
  }
  </style>

  <!-- js部分 -->
  <script>
  //初期マップの設定
  let map
  let marker
  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center:  {lat: <%= post.lat %>, lng: <%= post.lng %>},
      zoom: 15,
    });

    marker = new google.maps.Marker({
      position:  {lat: <%= post.lat %>, lng: <%= post.lng %>},
      map: map
    });
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>

  <div class="text-center">
    <% if post.user == current_user %>
     <p class="text-right"><%= link_to "地図を編集する",post_map_edit_path(post), data: {"turbolinks" => false},class: "btn btn-primary" %></p>
    <%= link_to '編集', edit_post_path, class: 'btn btn-primary w-50'%>
    <% end %>
  </div>
</div>
</div>