   <h4>下書き一覧</h4>
   <% @posts.each do |post| %>
          <ul>
           <li>
      <div class="container shadow mb-5 py-3">
        <%= link_to post_path(post.id) do %>
        <%= image_tag post.get_image(250,150)%>
        <% end %>
         <p><strong><%= post.title %></strong></p>
         <p><%= post.shop_name %></p>
         <p><%= post.shop_place %></p>
         <p><i class="far fa-comment-alt"></i><%= link_to " #{post.comments.count} ", post_path(post.id) %></p>
           </li>
          </ul>
          <% end %>
    