<div class ="container" >
  <div class="row">
    <div class="col-lg-4 my-3">
      <h4 class="mb-4 text-center">カフェ投稿一覧</h2>
        <% @posts.each do |post| %>
          <ul style="list-style: none;">
           <li>
      <div class="container customize-border shadow bg-white mb-5 py-3">
        <%= link_to post_path(post.id) do %>
        <%= image_tag post.get_image(124,124)%>
        <% end %>
         <p><%= post.title %></p>
         <p><%= post.shop_name %></p>
         <p><%= post.shop_place %></p>
           </li>
          </ul>
          <% end %>
      </div>
    </div>
  </div>
</div>
