<div class="container">
  <div class="row">
    <div class="col-lg-6">
    <h4><i class="fas fa-mug-hot"></i> 投稿詳細</h4>
      <div class="post_show">
      <p>店舗名：<strong><%= @post.shop_name %></strong></p>
      <%= image_tag @post.get_image,class:"post_image"%>
      </div>
    </div>
    <%= render 'public/posts/show', post: @post %>
    <div class="container">
      <div class="post_show">
        <div class="comments_area">
        <%= render 'public/comments/index', post: @post%>
        </div>
        <!--コメントフォーム-->
        <div class="new-comment">
        <%= render 'public/comments/form',post: @post %>
        </div>
      </div>
    </div>
  </div>
</div>