<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-auto mt-3">
      <h4 class="text-center"><i class="fas fa-users-cog"></i> 管理者ログイン</h4>
      <%= form_with model: resource, url: admin_session_path do |f| %>
        <div class="field">
          <%= f.label :メールアドレス%><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "メールアドレス",class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :パスワード%><br />
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード",class: "form-control"%>
        </div>

        <div class="actions">
          <%= f.submit "ログイン",class: "form-control mt-4 btn btn-primary " %>
        </div>
          <% end %>
    </div>
  </div>
</div>
