<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <%= render "public/shared/error_messages", resource: resource %>
    </div>
    <div>
      <h4>新規登録</h4>
      <%= form_with model: resource, url: user_registration_path do |f| %>
        <div class="field">
          <%= f.label :名前 %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ニックネームを入力"%>
        </div>
        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレスを入力" %>
        </div>
        <div class="field">
          <%= f.label :"パスワード"%>
          <% if @minimum_password_length %>
          (<%= @minimum_password_length %>文字以上)
          <% end %><br />
        </div>
        <div class="field">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワードを入力"%>
        </div>
        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "パスワード(確認用)"%>
        </div>
        <div class="actions">
          <%= f.submit "新規登録", class: "btn btn-success" %>
        </div>
      <% end %>
      <%= render "public/shared/links" %>
    </div>
  </div>
</div>