<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h4 class="text-center"><i class="fas fa-sign-in-alt"></i> ログイン</h4>
      <%= form_with model: resource, url: user_session_path do |f| %>
        <div class="field">
          <%= f.label :メールアドレス%><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "メールアドレス" %>
        </div>

        <div class="field">
          <%= f.label :パスワード%><br />
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード" %>
        </div>
        <div class="actions">
          <%= f.submit "ログイン",class: "btn btn-primary" %>
        </div>
      <% end %>
        <p>アカウントをお持ちでない方</p>
        <%= render "public/shared/links" %>
      </div>
  </div>
</div>
