<div class ="container" >
  <div class="row">
    <div class="col-12">
      <h5 class="text-center"><%= @user.name %>さんのいいねした投稿(<%= current_user.likes.count %>件)</h5>
      <div class="post_list">
      <% @like_posts.each do |post| %>
        <div class="post">
         <%= link_to post_path(post.id) do %>
         <%= image_tag post.get_image,class:"image_index"%>
         <% end %>
         <p><strong><%= post.title %></strong></p>
         <p><%= post.shop_name %></p>
         <p><%= post.shop_place %></p>
         <p><i class="far fa-comment-alt"></i><%= link_to " #{post.comments.count} ", post_path(post.id) %></p>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>